<?xml version="1.0" encoding="utf-8"?>
<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Email>admin@cc.cc</Email>
	<Password>******</Password>
	<IsAdministrator>true</IsAdministrator>
	<UICulture>en-US</UICulture>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>