<?xml version="1.0" encoding="utf-8"?>
<CommerceSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.Commerce.Models">
	<ConnectionString></ConnectionString>
	<DatabaseFilePath>D:\Commerce\Kooboo.Commerce.Web\Cms_Data\Commerces\JD\Data\data_JD.sdf</DatabaseFilePath>
	<EnableConnectionString>false</EnableConnectionString>
	<Name>JD</Name>
</CommerceSetting>